body{
    background-color: beige;
}

.mem_form{
    margin: 50px auto;
    padding: 22px;

    width: 200px;
}

h3{
    text-align: center;
}

.load{
    width: 120px;
    height: 25px;
    background-color: #0dcaf0;
    color: white;
    cursor: pointer;
}

/*.load hover{*/
/*    background-color: yellow;*/
/*}*/

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    /*background-color: #0dcaf0;*/
    border: 1px solid;
}