<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/forms.css" %}">
</head>
<body>


<div class="mem_form">
    <h3>MEMBER'S PAGE &#128512;</h3>
    <form action="" method="POST">

        {% csrf_token %}
        {{ reg_members_form.as_p }}
        <input type="submit" name="members" value="Register" class="load">
    </form>
</div>
<hr>
{% if submit_members == "Register" %}
    {{ Name }}
    {{ Age }}
    {{ Phone }}
    {{ City }}
    {{ Country }}

{% endif %}
</body>
</html>